.btn {
	display: block;
	text-align: center;
	transition: all 0.2s;

	&_primary {
		max-width: 260px;
		width: 100%;
		border: 1px solid var(--color-white);
		padding: 20px;
		background: var(--color-white);

		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		text-transform: uppercase;
		color: var(--color-black-37);

		&:hover {
			background: none;
			color: var(--color-white);
		}
	}
}
