.title--size_h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title--size_h1 {
    font-size: 24px;
  }
}
.title--size_h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title--size_h2 {
    font-size: 20px;
  }
}
.title--color_white {
  color: var(--color-white);
}
.title--color_black {
  color: var(--color-black-37);
}

.btn {
  display: block;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_primary {
  max-width: 260px;
  width: 100%;
  border: 1px solid var(--color-white);
  padding: 20px;
  background: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--color-black-37);
}
.btn_primary:hover {
  background: none;
  color: var(--color-white);
}

.header {
  position: relative;
  z-index: 100;
  background: var(--color-white);
  padding: 14px 0;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 660px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 998px) {
  .header__nav {
    width: auto;
    padding: 40px 20px;
    position: absolute;
    top: 60px;
    right: -330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    background: var(--color-white);
  }
  .header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0px;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black-37);
}
.header__nav-link:not(:last-child) {
  margin-right: 10px;
}
.header__nav-link:hover {
  text-decoration: underline;
}
.header__menu {
  display: none;
}
@media (max-width: 998px) {
  .header__menu {
    display: block;
  }
}
.header__menu-checkbox {
  position: absolute;
  visibility: hidden;
}
.header__menu-burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.header__menu-burger::before, .header__menu-burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--color-primary);
}
.header__menu-burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 var(--color-primary);
          box-shadow: 0 11px 0 var(--color-primary);
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}
.header__menu-burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}
.header__menu-checkbox:checked + .header__menu-burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}
.header__menu-checkbox:checked + .header__menu-burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.footer {
  padding-top: 120px;
  padding-bottom: 64px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__logo {
  width: 320px;
  margin-bottom: 20px;
}
.footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: var(--color-black-37);
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black-37);
}
.footer__nav-link:not(:last-child) {
  margin-bottom: 20px;
}
.footer a:hover {
  text-decoration: underline;
}

.hero {
  background: var(--color-primary);
  padding-top: 136px;
  padding-bottom: 158px;
  position: relative;
}
@media (max-width: 768px) {
  .hero {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.hero__wrapper {
  position: relative;
  z-index: 2;
}
.hero__title {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 36px;
  }
}
.hero__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .hero__cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
}
.hero__cta-text {
  font-weight: 500;
  font-size: 19px;
  line-height: 100%;
  color: var(--color-white);
}
@media (max-width: 768px) {
  .hero__cta-text {
    font-size: 14px;
  }
}
.hero__bg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  max-width: 793px;
  width: 100%;
}
@media (max-width: 768px) {
  .hero__bg {
    max-width: 360px;
  }
}
.hero__bg-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.goals {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .goals {
    margin-top: 40px;
  }
}
.goals__title {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .goals__title {
    margin-bottom: 32px;
  }
}
.goals__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.goals-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}
.goals-card__header {
  padding: 6px 20px;
  background: var(--color-primary);
  margin-bottom: 19px;
}
.goals-card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
}
@media (max-width: 768px) {
  .goals-card__title {
    font-size: 16px;
  }
}
.goals-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black-02);
}
@media (max-width: 768px) {
  .goals-card__text {
    font-size: 14px;
  }
}

.features {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .features {
    margin-top: 40px;
  }
}
.features__title {
  max-width: 546px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .features__title {
    margin-bottom: 8px;
  }
}
.features__header {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .features__header {
    margin-bottom: 32px;
  }
}
.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 760px;
}
.features__media {
  width: 100%;
  max-width: 400px;
}
.features__media-img {
  width: 100%;
}
.features-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}
.features-card__header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features-card__img {
  margin-right: 9px;
}
.features-card__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--color-black-37);
}
@media (max-width: 768px) {
  .features-card__title {
    font-size: 16px;
  }
}
.features-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: var(--color-black-02);
}
@media (max-width: 768px) {
  .features-card__text {
    font-size: 14px;
  }
}

.cta {
  background: var(--color-primary);
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .cta {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.cta__text {
  max-width: 810px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-white);
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .cta__text {
    font-style: 18px;
    margin-bottom: 30px;
  }
}
.cta__btn {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --color-primary: #91c0ac;
  --color-white: #fff;
  --color-black-02: #020e33;
  --color-black-37: #373737;
  --color-green-deepest: #57a41b;
  --color-green-deep: #74c733;
  --color-green-soft: #98dd62;
  --color-green-softest: #d6f2c0;
  --color-blue-deepest: #1b62a4;
  --color-blue-deep: #337fc7;
  --color-blue-soft: #62a2dd;
  --color-blue-softest: #bed9f1;
  --color-red-deepest: #c93329;
  --color-red-deep: #f95c3a;
  --color-red-soft: #ff9559;
  --color-red-softest: #f2d2c0;
  --color-yellow-deepest: #a89b23;
  --color-yellow-deep: #f9cf3a;
  --color-yellow-soft: #f2f453;
  --color-yellow-softest: #feffc8;
  --color-gray-59: #595866;
  --color-gray-88: #88879b;
  --color-gray-c6: #c6c5d2;
  --color-gray-e1: #e1e1e7;
  --color-gray-f5: #f5f4f8;
}/*# sourceMappingURL=styles.css.map */