.features {
	margin-top: 60px;

	@include mobile {
		margin-top: 40px;
	}

	&__title {
		max-width: 546px;
		margin-bottom: 20px;

		@include mobile {
			margin-bottom: 8px;
		}
	}

	&__header {
		margin-bottom: 50px;

		@include mobile {
			margin-bottom: 32px;
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	&__content {
		display: flex;
		gap: 30px 40px;
		flex-wrap: wrap;
		max-width: 760px;
	}

	&__media {
		width: 100%;
		max-width: 400px;

		&-img {
			width: 100%;
		}
	}

	&-card {
		flex: 1 1 360px;

		&__header {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
		}

		&__img {
			margin-right: 9px;
		}

		&__title {
			font-weight: 600;
			font-size: 19px;
			line-height: 100%;
			letter-spacing: -0.02em;
			color: var(--color-black-37);

			@include mobile {
				font-size: 16px;
			}
		}

		&__text {
			font-weight: 500;
			font-size: 16px;
			line-height: 110%;
			color: var(--color-black-02);

			@include mobile {
				font-size: 14px;
			}
		}
	}
}
