.doc {
	font-weight: 400;
	font-size: 16px;
	line-height: 133%;

	margin-top: 40px;

	@include mobile {
		margin-top: 20px;
		font-size: 14px;
	}

	&__element {
		&:not(:first-child) {
			margin-top: 16px;
		}
	}

	&__text {
		&:not(:first-child) {
			margin-top: 8px;
		}
	}
}
